@page "/"

<PageTitle>Delayed Certificate Issuing Machine</PageTitle>

<style>
    .Button, .Input {
        border: none;
        background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
    }

    .Sidebar {
        border: none;
        background-image: linear-gradient(180deg, rgba(5, 39, 103, 0.9) 0%, rgba(58, 6, 71, 0.9) 70%);
        color: white;
    }

    .MainPanel {
        margin-right: 25px;
        margin-left: 25px;
    }
</style>
<style>
    .Main {
        display: grid;
        grid-template-columns: 330px 1fr 330px;
    }
</style>

<h1>Delayed Certificate Issuing Machine</h1>
<div class="Main">
    <div class="LeftPanel Sidebar">
        <div>
            <h3>
                File
            </h3>
            <div>
                <p>
                    <button onclick="@New" class="Button">
                        New
                    </button>
                </p>
                <p>
                    <button onclick="@Export" class="Button">
                        Export
                    </button>
                </p>
                <p>
                    <a href="@fileURL" download="Delayed Certificate">
                        <button class="Button">
                            Download
                        </button>
                    </a>
                </p>
            </div>
            <div>
                <h3>
                    About
                </h3>
                <div>
                    <p>
                        Version: <code>1.0.3</code>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="MainPanel">
        <div>
            Preview:
            <br />
            <iframe src="@fileURL" width="485.41019661px" height="300px">
            </iframe>

        </div>
        <div>
        </div>
    </div>
    <div class="RightPanel Sidebar">
        <div>
            <h3>
                Property
            </h3>
            <div>
                <p>
                    Publisher: <input type="text" @bind="@publisher" class="Input" />
                </p>
                <p>
                    Publication Time: <input type="text" @bind="@publicationTime" class="Input" />
                </p>
                <p>
                    Delay Time: <input type="text" @bind="@delayTime" class="Input" />
                </p>
            </div>
        </div>

    </div>

</div>

@code {
    string publisher = "";
    string publicationTime = "";
    string delayTime = "";
    string fileURL = "data:,Enter the properties and export.";
    string fileText = "";

    void Export()
    {
        fileText = $@"--Delayed Certificate--
This certificate proves that something was delayed by {delayTime}.
  {publicationTime}
    {publisher}";

        fileURL = $@"data:,{fileText}";
    }

    void New()
    {
        publisher = "";
        publicationTime = "";
        delayTime = "";
        fileURL = "data:,Enter the properties and export.";
        fileText = "";

    }

}